<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>772890986779-q1qops8kro3l447ub3q919au28gs9n1j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.772890986779-q1qops8kro3l447ub3q919au28gs9n1j</string>
	<key>API_KEY</key>
	<string>AIzaSyCJVhKwwALIuXy2f90e_eM20fHXOtTKUMo</string>
	<key>GCM_SENDER_ID</key>
	<string>772890986779</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.austinburke.ChatAppDemo</string>
	<key>PROJECT_ID</key>
	<string>chat-app-demo-52e75</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-demo-52e75.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:772890986779:ios:24b46fc7e9108f31626bbe</string>
</dict>
</plist>